{% extends "base.html" %}

{% load static %}

{% block content %}

  <!-- First section that focuses on welcoming the user to the page -->
  <section id="welcome-section">
    <h2 id="title">
      Welcome to our Page!
    </h2>
    <div id="landing-image">
    </div>
    <div id="welcome-message">
      <p>
        Here goes the welcome message!
      </p>
    </div>
  </section>
  <!-- Second section that includes the space for all app relevant features -->
  <section id="app-section">
    <div id="instructions">
    </div>
    <div id="steps-tiles">
    </div>
    <div id="voice-options">
    </div>
    <div id="text-input">
    </div>
    <div id="app-buttons">
    </div>
  </section>
{% endblock content %}
