{% extends "base.html" %}

{% load static %}

{% block content %}

  <!-- Section that focuses on welcoming the user to the page -->
  <section id="welcome-section">
    <div id="welcome-header">
      <div id="landing-image">
      </div>
      <h2 id="welcome-title">
        Welcome to our Page!
      </h2>
      <div id="welcome-message">
        <p>
          Here goes the welcome message!
        </p>
      </div>
      <div id="welcome-button">
        Get started button goes here!
      </div>
    </div>
    <div id="steps-tiles">
      <div id="steps-feature">
        <p>
          Feature
        </p>
      </div>
      <div id="steps-benefit">
        <p>
          Benefit
        </p>
      </div>
      <div id="steps-target-user">
        <p>
          Target user
        </p>
      </div>
    </div>
  </section>

{% endblock content %}
