{% extends "base.html" %} {% load static %} {% block content %}
<div class="container text-center">
  <h2 class="fw-bold">MEET THE TALENTED TEAM</h2>
  <p class="font-italic text-decoration-underline ">“The strength of the team is each individual member. The strength of each member is the team.” – Phil Jackson</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 d-flex">
      <div class="card">
        <img
          src="{% static 'images/tafadzwa_mangena.jpg' %}"
          class="card-img-top"
          alt="Profile picture of Tafadzwa Mangena"
        />
        <div class="card-body">
          <h5 class="card-title">Tafadzwa Mangena</h5>
          <h6 class="card-title">
            Role in Hackathon: Agile, Team member's page
          </h6>
          <p class="card-text">
            Energetic and detail-driven, I am a full-stack software developer
            student at Code Institute, currently working on deepening my
            expertise in Python testing.
          </p>
          <a
            href="https://github.com/TafadzwaMangena"
            target="blank"
            class="btn btn-primary mt-auto align-self-start"
            >GitHub</a
          >
          <a
            href="https://www.linkedin.com/in/tafadzwa-mangena-8b3467175/"
            target="blank"
            class="btn btn-primary mt-auto align-self-start"
            >LinkedIn</a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 d-flex">
      <div class="card">
        <img
          src="{% static 'images/hannah.jpg' %}"
          class="card-img-top"
          alt="Profile picture of Hannah Olbrich"
        />
        <div class="card-body">
          <h5 class="card-title">Hannah Olbrich</h5>
          <h6 class="card-title">
            Role in Hackathon: Scrum Master, Agile, Contact Page
          </h6>
          <p class="card-text">
            Currently on my final Milestone 4 project on the Level 5 Web
            Development Diploma. Have excellent attention to detail and am very
            organised.
          </p>
          <a
            href="https://github.com/hannahro15"
            target="blank"
            class="btn btn-primary mt-auto align-self-start"
            >GitHub</a
          >
          <a
            href="https://www.linkedin.com/in/hannaholbrich/"
            target="blank"
            class="btn btn-primary mt-auto align-self-start"
            >LinkedIn</a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 d-flex">
      <div class="card">
        <img
          src="{% static 'images/arthur.jpg' %}"
          class="card-img-top"
          alt="Profile picture of Arthur"
        />
        <div class="card-body">
          <h5 class="card-title">Arthur Vilela</h5>
          <h6 class="card-title">Role in Hackathon: Front-end</h6>
          <p class="card-text">
            Brazilian architect based in Austria. I'm currently starting my 4th
            portifolio project and this is my first Hackathon. I contributed
            with HTML, CSS and documentation in this project and I'm looking
            forward for the next one!
          </p>
          <a
            href="https://github.com/arthur-vilela"
            target="blank"
            class="btn btn-primary mt-auto align-self-start"
            >GitHub</a
          >
          <a
            href="https://www.linkedin.com/in/arthur-vilela-santos/"
            target="blank"
            class="btn btn-primary mt-auto align-self-start"
            >LinkedIn</a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 d-flex">
      <div class="card">
        <img
          src="{% static 'images/ed_radcliffe.jpg' %}"
          class="card-img-top"
          alt="Profile picture of Ed Radcliffe"
        />
      <div class="card-body">
        <h5 class="card-title">Ed Radcliffe</h5>
        <h6 class="card-title">Role in Hackathon: Front-end</h6>
        <p class="card-text">I am enjoying the challenges of my first hackathon! I have worked on aspects of both the back and front end and have focusses on making the site accessible. I am currently studying for PP5 - data analytics for The Code Institute.</p>
        <a href="https://linkedin.com/in/edwardradcliffe" target="blank" class="btn btn-primary mt-auto align-self-start"
          >GitHub</a
        >
        <a
          href="https://github.com/ewradcliffe"
          target="blank"
          class="btn btn-primary mt-auto align-self-start"
          >LinkedIn</a
        >
      </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 d-flex">
      <div class="card">
        <img
          src="{% static 'images/#' %}"
          class="card-img-top"
          alt="Profile picture of Erin Doyle"
        />
        <div class="card-body">
          <h5 class="card-title">Erin Doyle</h5>
          <h6 class="card-title">
            Role in Hackathon: Front-end
          </h6>
          <p class="card-text">
            American showjumper and coding enthusiast, living in the wild and windy mountains of Wicklow, Ireland. When I am not working with horses, I am sharpening my software development skills.
          </p>
          <a
            href="https://www.github.com/erinvdoyle"
            target="blank"
            class="btn btn-primary mt-auto align-self-start"
            >GitHub</a
          >
          <a
            href="https://www.linkedin.com/in/erinvdoyle"
            target="blank"
            class="btn btn-primary mt-auto align-self-start"
            >LinkedIn</a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 d-flex">
      <div class="card">
        <img
          src="{% static 'images/lj_img.jpeg' %}"
          class="card-img-top"
          alt="Profile picture of Linus J"
        />
        <div class="card-body">
          <h5 class="card-title">Linus J</h5>
          <h6 class="card-title">
            Role in Hackathon: Front-end, Back-end
          </h6>
          <p class="card-text">
            Tech enthusiast with a Full-Stack Developer background, skilled in web development. Enjoys building creative solutions, learning, and collaborating. Looking for opportunities to grow and develop.
          </p>
          <a
            href="https://github.com/j0hanz"
            target="blank"
            class="btn btn-primary mt-auto align-self-start"
            >GitHub</a
          >
          <a
            href="https://www.linkedin.com/in/linus-johansson-software-dev/"
            target="blank"
            class="btn btn-primary mt-auto align-self-start"
            >LinkedIn</a
          >
        </div>
      </div>
    </div>      
    <div class="col-12 col-md-6 col-lg-3 d-flex">
      <div class="card">
        <img
          src="{% static 'images/#' %}"
          class="card-img-top"
          alt="Profile picture of Anne V"
        />
        <div class="card-body">
          <h5 class="card-title">Anne V</h5>
          <h6 class="card-title">
            Role in Hackathon: 
          </h6>
          <p class="card-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam quis dolore officiis qui assumenda eius nisi doloremque? Nobis labore laboriosam quidem, eligendi dolor iure ad, dicta.  eligendi dolor iure ad, dicta.
          </p>
          <a
            href="#"
            target="blank"
            class="btn btn-primary mt-auto align-self-start"
            >GitHub</a
          >
          <a
            href="#"
            target="blank"
            class="btn btn-primary mt-auto align-self-start"
            >LinkedIn</a
          >
        </div>
      </div>
  </div>
  </div>
  {% endblock content %}
</div>
