{% extends "base.html" %} {% load static %} {% block content %}
<div class="container">
  <h2>MEET THE TALENTED TEAM</h2>
  <p>This is the Team app page of the site.</p>
</div>

<div class="container">
  <div class="row g-4">
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img
        src="https://plus.unsplash.com/premium_photo-1682096259050-361e2989706d?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8eW91bmclMjBtYW58ZW58MHx8MHx8fDA%3D"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Tafadzwa Mangena</h5>
        <h6 class="card-title">Role in Heckathon: Agile, Team member's page</h6>
        <p class="card-text">Energetic and detail-driven, I am a full-stack software developer
          student at Code Institute, currently working on deepening my
          expertise in Python testing.</p>
        <a href="https://github.com/TafadzwaMangena" target="blank" class="btn btn-primary"
          >GitHub</a
        >
        <a
          href="https://www.linkedin.com/in/tafadzwa-mangena-8b3467175/"
          target="blank"
          class="btn btn-primary"
          >LinkedIn</a
        >
      </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img
        src="{% static 'images/hannah.jpg' %}"
        class="card-img-top"
        alt="hannah-img"
      />
      <div class="card-body">
        <h5 class="card-title">Hannah Olbrich</h5>
        <h6 class="card-title">Role in Heckathon: Scrum Master, Agile, Contact Page</h6>
        <p class="card-text">Currently on my final Milestone 4 project on the Level 5 Web
          Development Diploma. Have excellent attention to detail and am very
          organised.</p>
        <a href="https://github.com/hannahro15" target="blank" class="btn btn-primary"
          >GitHub</a
        >
        <a
          href="https://www.linkedin.com/in/hannaholbrich/"
          target="blank"
          class="btn btn-primary"
          >LinkedIn</a
        >
      </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img
        src="https://plus.unsplash.com/premium_photo-1682096259050-361e2989706d?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8eW91bmclMjBtYW58ZW58MHx8MHx8fDA%3D"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Arthur Vilela</h5>
        <h6 class="card-title">Role in Heckathon: Front-end</h6>
        <p class="card-text">Brazilian architect based in Austria. I'm currently starting my 4th portifolio project and this is my first Hackathon. I contributed with HTML, CSS and documentation in this project and I'm looking forward for the next one!</p>
        <a href="https://github.com/" target="blank" class="btn btn-primary"
          >GitHub</a
        >
        <a
          href="https://www.linkedin.com/in/tafadzwa-mangena-8b3467175/"
          target="blank"
          class="btn btn-primary"
          >LinkedIn</a
        >
      </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img
        src="https://plus.unsplash.com/premium_photo-1682096259050-361e2989706d?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8eW91bmclMjBtYW58ZW58MHx8MHx8fDA%3D"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Ed Radcliffe</h5>
        <h6 class="card-title">Role in Heckathon: Front-end</h6>
        <p class="card-text">I am enjoying the challenges of my first hackathon! I have worked on aspects of both the back and front end and have focusses on making the site accessible. I am currently studying for PP5 - data analytics for The Code Institute.</p>
        <a href="https://linkedin.com/in/edwardradcliffe" target="blank" class="btn btn-primary"
          >GitHub</a
        >
        <a
          href="https://github.com/ewradcliffe"
          target="blank"
          class="btn btn-primary"
          >LinkedIn</a
        >
      </div>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
