{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
  <div class="container d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center">
      <div class="col-md-12">
        <h2 class="text-center page-titles">
          {% trans "Profile Settings" %}
        </h2>

        <!-- Update Preferred Language Form -->
        <form method="post"
              class="d-flex flex-column"
              id="preferred-language-form">
          {% csrf_token %}
          <h5 class="pt-4">
            {% trans "Update Preferred Language" %}
          </h5>
          <div class="select-position">
            {{ form.non_field_errors }}
            {{ form.preferred_language }}
            {{ form.preferred_language.errors }}
            <i class="fa-solid fa-arrow-down select-arrow"></i>
          </div>
          <button type="submit"
                  name="preferred_language_submit"
                  class="btn btn-custom-text btn-block mt-4">
            {% trans "Save Language" %}
          </button>
        </form>

        <!-- Change Password Form -->
        <form method="post"
              class="d-flex flex-column justify-content-evenly"
              id="change-password-form">
          {% csrf_token %}
          <h5 class="pt-4">
            {% trans "Change Password" %}
          </h5>
          {{ password_change_form.non_field_errors }}
          {{ password_change_form.oldpassword }}
          {{ password_change_form.oldpassword.errors }}

          {{ password_change_form.password1 }}
          {{ password_change_form.password1.errors }}
          {{ password_change_form.password2 }}
          {{ password_change_form.password2.errors }}

          <button type="submit"
                  name="password_change_submit"
                  class="btn btn-custom-text btn-block mt-4">
            {% trans "Change Password" %}
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
