{% extends "base.html" %}

{% load static %}

{% block title %}
  Texh to Speech
{% endblock title %}

{% block content %}
  <!-- Section that includes the space for all app relevant features -->
  <section id="app-section">
    <div id="app-welcome">
      <h2>
        Welcome to our Text to Speech App!
      </h2>
      <p>
        This is the Text to Speech page of the site.
      </p>
    </div>
    <div id="app-instructions">
    </div>
    <div id="app-steps-tiles">
    </div>
    <div id="app-voice-options">
    </div>
    <div id="app-text-input">
    </div>
    <div id="app-buttons">
    </div>
  </section>
{% endblock content %}
