{% extends "base.html" %}

{% load static %}

{% block content %}

  <h1 class="text-center page-titles">
    Text to Speech
  </h1>
  <p class="text-center page-subtitles">
    Let us bring your text to life.
  </p>
  <div id="app-section"
       class="container mt-5">
    <div class="row d-flex justify-content-center">
      <!-- Voice options -->
      <div id="app-voice-options"
           class="col-sm-auto">
        <div id="app-voice-title">
          <p class="text-steps">
            Set your preferences
          </p>
        </div>
        <!-- Dropdown menu for all languages -->
        <div class="mt-3">
          <p class="text-uppercase fs-5">
            Language
          </p>
          <div class="select-position">
            <label for="language-select"
                   id="language-lable"
                   class="sr-only">
              Select a Language
            </label>
            <select id="language-select"
                    class="form-select"
                    aria-labelledby="language-label"
                    data-preferred-language="{{ preferred_language }}">
              <option value="">
                Select a language
              </option>
              {% for lang_code, lang_name in languages.items %}
                <option value="{{ lang_code }}"
                        {% if lang_code == preferred_language %}
                          selected
                        {% endif %}>
                  {{ lang_name }} ({{ lang_code }})
                </option>
              {% endfor %}
            </select>
            <i class="fa-solid fa-arrow-down select-arrow"></i>
          </div>
        </div>
        <!-- Speed control slider -->
        <div class="mt-3">
          <p class="text-uppercase fs-5">
            Speed
          </p>
          <label for="speed-range"
                 class="sr-only"
                 id="speed-label">
            Adjust Speed
          </label>
          <input type="range"
                 id="speed-range"
                 aria-labelledby="speed-label"
                 min="0.5"
                 max="2"
                 step="0.1"
                 value="1" />
          <span id="speed-value">1.0x</span>
        </div>
      </div>
      <!-- Text input and buttons on the right side -->
      <div class="col-12 col-md-9 col-lg-8">
        <div id="app-text-input">
          <div id="app-text-input-title">
            <p class="text-steps mt-lg-3 mt-xl-0"
               id="text-steps-two">
              Add your text
            </p>
          </div>
          <div id="app-text-input-form"
               class="text-dark">
            <form id="text-input-form"
                  action=""
                  method="post">
              {% csrf_token %}
              {{ form }}
            </form>
            <div id="app-buttons"
                 class="d-flex justify-content-between mt-3">
              <div id="app-buttons-clear"
                   class="me-auto">
                <button id="clear-button"
                        name="clear-text-button"
                        type="button"
                        class="btn btn-custom-icon"
                        aria-label="Clear text button">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
              <div id="app-buttons-send"
                   class="me-3">
                <button id="send-button"
                        type="button"
                        class="btn btn-custom-text">
                  <span class="spinner-border spinner-border-sm me-2 d-none"
                        id="send-spinner"
                        role="status"
                        aria-hidden="true"></span>
                  <span id="send-button-text">Send</span>
                </button>
              </div>
              <div id="app-buttons-pause">
                <button id="pause-button"
                        type="button"
                        class="btn btn-custom-text">
                  Pause
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
