{% extends "base.html" %}

{% load static %}

{% block title %}
  Text to Speech
{% endblock title %}

{% block content %}
  <!-- Section that includes the space for all app relevant features -->
  <section id="app-section">
    <div id="app-instructions">
    </div>
    <div id="app-voice-options">
      <div id="app-voice-title">
        <p>
          Step 1
        </p>
      </div>
      <!-- Voice options with data attributes -->
      <div id="app-voice-one"
           class="voice-option"
           data-voice="en">
        <p>
          Voice 1
        </p>
      </div>
      <div id="app-voice-two"
           class="voice-option"
           data-voice="en-au">
        <p>
          Voice 2
        </p>
      </div>
      <div id="app-voice-three"
           class="voice-option"
           data-voice="en-uk">
        <p>
          Voice 3
        </p>
      </div>
    </div>
    <div id="app-text-input">
      <div id="app-text-input-title">
        <p>
          Step 2
        </p>
      </div>
      <div id="app-text-input-form">
        <form action=""
              method="post">
          {% csrf_token %}
          {{ form }}
        </form>
      </div>
    </div>
    <div id="app-buttons">
      <div id="app-buttons-title">
        <p>
          Step 3
        </p>
      </div>
      <div id="app-buttons-clear">
        <button class="btn btn-dark px-4">
          Clear
        </button>
      </div>
      <div id="app-buttons-send">
        <button class="btn btn-primary px-4">
          Send
        </button>
      </div>
    </div>
  </section>
{% endblock content %}
